{% extends "base.html" %}

{% block title %}Add new link{% endblock %}
{% block content %}
<p>Contribute</p>
</br>
	<select name='contribution_sel' onchange='SelectSource(this.value);'>
  		<option value="new_story">Contribute new story</option>
  		<option value="existing_story">Contribute to existing story</option>
	</select>
<p>Link type:
	<select name='src_type_sel'>
  		<option value="Article">News Article</option>
  		<option value="Video">Video</option>
  		<option value="Blog">Blog Post</option>
	</select>
	</br>
	<form form action='' method='post'>
		Link: <input type="text" name="slink"><br>
		<input type="submit" value="Submit Link">
	</form>
	<div id='input_story' style="display: none;">
		Existing stories:
		<ul>
		{% for story in story_list %}
			<li>{{ story }}</li>
		{% endfor %}
		</ul>
	</div>
</p>
{% endblock %}
