<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
	<script type="text/javascript">
	function SelectSource(val)
	{
		if(val=='new_story')
		{
			var element=document.getElementById('input_story');
			element.style.display='none';
		}
		else
		{
			var element=document.getElementById('input_story');
			element.style.display='block';
		}
	}
	</script>
</head>
<body>
	<div align="right">
		<a href='/signup'>Sign Up </a>
		<a href='/login'>Login</a>
		<a href='/logout'>Logout</a>
	</div>
    <hr>
    {% block content %}{% endblock %}
    <hr>
	<div align="center" id="final" style="text-align:center; position: fixed; bottom: 0;">Andrei Milea 2017</div>
</body>
</html>
